In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('asuransi_mobil.csv')
data.head()

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya

In [3]:
data.describe()

,Unnamed: 0,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.00000,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,4999.50000,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,2886.89568,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,0.00000,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,2499.75000,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,4999.50000,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,7499.25000,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,9999.00000,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [4]:
# Melihat type data apakah berupa integer, bilangan desimal, atau data kategori
data.dtypes

Unnamed: 0                 int64
IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [5]:
# mengecek apakah terdapat data yang kosong
data.isnull().sum()

Unnamed: 0                 0
IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [19]:
data_categorical =['SKOR_KREDIT','KM_PER_TAHUN']

In [20]:
data_drop = data.drop(data_categorical, axis =1)

In [21]:
data_drop.head()

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [22]:
# Melihat apa saja isi dari kolom UMUR (data kategori yang tidak dapat dibandingkan)
data.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [23]:
data['UMUR'] = \
data['UMUR'].map({'lebih dari 65 tahun':4,'antara 40-65 tahun':3, 'antara 25-40 tahun':2,'kurang dari 25 tahun':1
       })

In [24]:
data.JENIS_KELAMIN.unique()

array(['perempuan', 'laki-laki'], dtype=object)

In [25]:
data['JENIS_KELAMIN'] = \
data['JENIS_KELAMIN'].map({'perempuan':1, 'laki-laki':0
       })

In [26]:
data.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [27]:
data['PENDIDIKAN'] = \
data['PENDIDIKAN'].map({'universitas':2,'SMA':1, 'tidak ada':0, 
       })

In [28]:
data.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [29]:
data['PENGHASILAN'] = \
data['PENGHASILAN'].map({'lebih dari 3x UMR':3,  'antara 2-3x UMR':2, 'antara 1-2x UMR':1,'kurang dari UMR':0   
       })

In [30]:
data.PEMILIK_KENDARAAN.unique()

array(['ya', 'tidak'], dtype=object)

In [31]:
data['PEMILIK_KENDARAAN'] = \
data['PEMILIK_KENDARAAN'].map({'ya':1, 'tidak' :0
       })

In [32]:
data.TAHUN_PRODUKSI.unique()

array(['setelah 2020', 'sebelum 2020'], dtype=object)

In [33]:
data['TAHUN_PRODUKSI'] = \
data['TAHUN_PRODUKSI'].map({'setelah 2020':1, 'sebelum 2020':0
       })

In [34]:
data.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [35]:
data['STATUS'] = \
data['STATUS'].map({'belum menikah':0, 'menikah':1
       })

In [36]:
data.ANAK.unique()

array(['ada', 'tidak ada'], dtype=object)

In [37]:
data['ANAK'] = \
data['ANAK'].map({'ada':1, 'tidak ada':0
       })

In [38]:
data.JENIS_KENDARAAN.unique()

array(['keluarga', 'sport'], dtype=object)

In [39]:
data['JENIS_KENDARAAN'] = \
data['JENIS_KENDARAAN'].map({'keluarga':0, 'sport':1
       })

In [40]:
# Data target karena dari data sebelumnya akan digunakan menebak apakah nasabah tersebut 
# akan sukses membuka rekening asuransi ataukah masih belum mau membuka.
data.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [41]:
data['JENIS_KENDARAAN'] = \
data['JENIS_KENDARAAN'].map({'tidak':0, 'ya':1
       })

In [42]:
data.describe()

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,9018.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9043.000000,0.0,10000.000000,10000.00000,10000.000000
mean,4999.50000,500521.906800,2.489500,0.501000,1.20130,1.899600,0.515813,0.697000,0.303300,0.498200,0.688800,19864.548400,11697.003207,NaN,1.482900,0.23920,1.056300
std,2886.89568,290030.768758,1.025278,0.500024,0.73745,1.149109,0.137688,0.459578,0.459707,0.500022,0.463008,18915.613855,2818.434528,NaN,2.241966,0.55499,1.652454
min,0.00000,101.000000,1.000000,0.000000,0.00000,0.000000,0.053358,0.000000,0.000000,0.000000,0.000000,10238.000000,2000.000000,NaN,0.000000,0.00000,0.000000
25%,2499.75000,249638.500000,2.000000,0.000000,1.00000,1.000000,0.417191,0.000000,0.000000,0.000000,0.000000,10238.000000,10000.000000,NaN,0.000000,0.00000,0.000000
50%,4999.50000,501777.000000,2.000000,1.000000,1.00000,2.000000,0.525033,1.000000,0.000000,0.000000,1.000000,10238.000000,12000.000000,NaN,0.000000,0.00000,0.000000
75%,7499.25000,753974.500000,3.000000,1.000000,2.00000,3.000000,0.618312,1.000000,1.000000,1.000000,1.000000,32765.000000,14000.000000,NaN,2.000000,0.00000,2.000000
max,9999.00000,999976.000000,4.000000,1.000000,2.00000,3.000000,0.960819,1.000000,1.000000,1.000000,1.000000,92101.000000,22000.000000,NaN,22.000000,6.00000,15.000000

In [43]:
# One Hot Encoding for categorical data
data= pd.get_dummies(data)
data.head()

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,...,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,PENGALAMAN_MENGEMUDI_antara 10-20 tahun,PENGALAMAN_MENGEMUDI_antara 20-30 tahun,PENGALAMAN_MENGEMUDI_kurang dari 10 tahun,PENGALAMAN_MENGEMUDI_lebih dari 30 tahun,KLAIM_tidak,KLAIM_ya
0,0,569520,4,1,1,3,0.629027,1,1,0,...,NaN,0,0,0,0,0,1,0,1,0
1,1,750365,1,0,0,0,0.357757,0,0,0,...,NaN,0,0,0,0,0,1,0,0,1
2,2,199901,1,1,1,1,0.493146,1,0,0,...,NaN,0,0,0,0,0,1,0,1,0
3,3,478866,1,0,2,1,0.206013,1,0,0,...,NaN,0,0,0,0,0,1,0,1,0
4,4,731664,2,0,0,1,0.388366,1,0,0,...,NaN,2,0,1,1,0,0,0,0,1

In [45]:
# Normalisasi data dalam bentuk numerik
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
d = scaler.fit_transform(data)
data_normalisasi = pd.DataFrame(d, columns=data.columns)
data_normalisasi.head(10)

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,...,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,PENGALAMAN_MENGEMUDI_antara 10-20 tahun,PENGALAMAN_MENGEMUDI_antara 20-30 tahun,PENGALAMAN_MENGEMUDI_kurang dari 10 tahun,PENGALAMAN_MENGEMUDI_lebih dari 30 tahun,KLAIM_tidak,KLAIM_ya
0,0.0000,0.569490,1.000000,1.0,0.5,1.000000,0.634374,1.0,1.0,0.0,...,NaN,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0001,0.750358,0.000000,0.0,0.0,0.000000,0.335441,0.0,0.0,0.0,...,NaN,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0002,0.199825,0.000000,1.0,0.5,0.333333,0.484636,1.0,0.0,0.0,...,NaN,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0003,0.478825,0.000000,0.0,1.0,0.333333,0.168222,1.0,0.0,0.0,...,NaN,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,1.0,0.0
4,0.0004,0.731654,0.333333,0.0,0.0,0.333333,0.369171,1.0,0.0,0.0,...,NaN,0.090909,0.0,0.066667,1.0,0.0,0.0,0.0,0.0,1.0
5,0.0005,0.877566,0.666667,1.0,0.5,1.000000,0.623464,1.0,1.0,0.0,...,NaN,0.136364,0.0,0.200000,0.0,1.0,0.0,0.0,1.0,0.0
6,0.0006,0.930149,1.000000,0.0,0.5,1.000000,0.484413,0.0,1.0,1.0,...,NaN,0.318182,0.0,0.200000,0.0,0.0,0.0,1.0,1.0,0.0
7,0.0007,0.460963,0.333333,1.0,1.0,0.333333,0.457685,0.0,1.0,0.0,...,NaN,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,1.0
8,0.0008,0.068274,0.666667,1.0,1.0,0.333333,0.516229,0.0,0.0,1.0,...,NaN,0.000000,0.0,0.000000,0.0,1.0,0.0,0.0,1.0,0.0
9,0.0009,0.445866,0.666667,1.0,0.5,1.000000,0.559995,1.0,0.0,0.0,...,NaN,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,1.0

In [51]:
data_fix = pd.concat([data_normalisasi, data_drop], axis=1, join='inner')
data_fix.head()

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,...,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0.0000,0.569490,1.000000,1.0,0.5,1.000000,0.634374,1.0,1.0,0.0,...,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,0.0001,0.750358,0.000000,0.0,0.0,0.000000,0.335441,0.0,0.0,0.0,...,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,0.0002,0.199825,0.000000,1.0,0.5,0.333333,0.484636,1.0,0.0,0.0,...,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,0.0003,0.478825,0.000000,0.0,1.0,0.333333,0.168222,1.0,0.0,0.0,...,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,0.0004,0.731654,0.333333,0.0,0.0,0.333333,0.369171,1.0,0.0,0.0,...,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [52]:
X = data_fix.drop(['KLAIM'], axis =1) 
y = data_fix['KLAIM']

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [56]:
from sklearn.neighbors import KNeighborsClassifier

model_knn = KNeighborsClassifier(n_neighbors=3)
model_knn.fit(X_train,y_train)

ValueError: could not convert string to float: 'antara 25-40 tahun'

In [55]:
model_svm.fit(X_train,y_train)

ValueError: could not convert string to float: 'antara 25-40 tahun'